Sincronizacao.Domain/Web References/ServiceEmail/SincronizacaoMusicalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SincronizacaoMusicalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://paladio03:99/SincronizacaoMusicalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://paladio03:99/SincronizacaoMusicalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://paladio03:99/SincronizacaoMusicalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Record.RAP.Domain.Entities" />
      <xsd:import schemaLocation="http://paladio03:99/SincronizacaoMusicalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net.Mail" />
      <xsd:import schemaLocation="http://paladio03:99/SincronizacaoMusicalService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net.Mime" />
      <xsd:import schemaLocation="http://paladio03:99/SincronizacaoMusicalService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISincronizacaoMusicalService_SendEmailWithTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithTemplate" />
  </wsdl:message>
  <wsdl:message name="ISincronizacaoMusicalService_SendEmailWithTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ISincronizacaoMusicalService_SendEmailWithContent_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithContent" />
  </wsdl:message>
  <wsdl:message name="ISincronizacaoMusicalService_SendEmailWithContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithContentResponse" />
  </wsdl:message>
  <wsdl:message name="ISincronizacaoMusicalService_GetActiveUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUserDetails" />
  </wsdl:message>
  <wsdl:message name="ISincronizacaoMusicalService_GetActiveUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISincronizacaoMusicalService_GetInactiveUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInactiveUserDetails" />
  </wsdl:message>
  <wsdl:message name="ISincronizacaoMusicalService_GetInactiveUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInactiveUserDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISincronizacaoMusicalService">
    <wsdl:operation name="SendEmailWithTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendEmailWithTemplate" message="tns:ISincronizacaoMusicalService_SendEmailWithTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendEmailWithTemplateResponse" message="tns:ISincronizacaoMusicalService_SendEmailWithTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendEmailWithContent" message="tns:ISincronizacaoMusicalService_SendEmailWithContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendEmailWithContentResponse" message="tns:ISincronizacaoMusicalService_SendEmailWithContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IActiveDirectoryService/GetActiveUserDetails" message="tns:ISincronizacaoMusicalService_GetActiveUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActiveDirectoryService/GetActiveUserDetailsResponse" message="tns:ISincronizacaoMusicalService_GetActiveUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInactiveUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IActiveDirectoryService/GetInactiveUserDetails" message="tns:ISincronizacaoMusicalService_GetInactiveUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActiveDirectoryService/GetInactiveUserDetailsResponse" message="tns:ISincronizacaoMusicalService_GetInactiveUserDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISincronizacaoMusicalService" type="tns:ISincronizacaoMusicalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmailWithTemplate">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendEmailWithTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithContent">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendEmailWithContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserDetails">
      <soap:operation soapAction="http://tempuri.org/IActiveDirectoryService/GetActiveUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInactiveUserDetails">
      <soap:operation soapAction="http://tempuri.org/IActiveDirectoryService/GetInactiveUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SincronizacaoMusicalService">
    <wsdl:port name="BasicHttpBinding_ISincronizacaoMusicalService" binding="tns:BasicHttpBinding_ISincronizacaoMusicalService">
      <soap:address location="http://paladio03:99/SincronizacaoMusicalService.svc/SincronizacaoMusical" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>