Sincronizacao.Domain/Web References/ServiceEmail/SincronizacaoMusicalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Net.Mail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Net.Mail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://paladio03:99/SincronizacaoMusicalService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net.Mime" />
  <xs:complexType name="ArrayOfAttachmentBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentBase" nillable="true" type="tns:AttachmentBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachmentBase" nillable="true" type="tns:ArrayOfAttachmentBase" />
  <xs:complexType name="AttachmentBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net.Mime" minOccurs="0" name="ContentType" nillable="true" type="q1:ContentType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net.Mime" minOccurs="0" name="TransferEncoding" type="q2:TransferEncoding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentBase" nillable="true" type="tns:AttachmentBase" />
</xs:schema>